.hero{
    padding:60px;
    text-align:center;
    background:linear-gradient(90deg,#0f172a,#1e293b);
    border-radius:12px;
    margin-bottom:30px;
    }
    
    .service-card{
    padding:25px;
    border-radius:14px;
    background:#1e293b;
    transition:0.3s;
    box-shadow:0px 4px 10px rgba(0,0,0,0.3);
    }
    
    .service-card:hover{
    transform:translateY(-5px);
    background:#334155;
    }
    
    .project-card{
    padding:25px;
    border-radius:14px;
    background:#1e293b;
    margin-bottom:20px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.3);
    }
    
    .project-card:hover{
    transform:scale(1.02);
    }
    
    .chat-box{
    border-radius:10px;
    padding:20px;
    background:#1e293b;
    }